	<header class="">
		<h1>{{username}}</h1>
		<div class="dropdown">
		  <button class="btn btn-xs btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
		    Options
		    <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
				{{#if allowEdit}}
					<li class="btn-edit-profile">
						<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
						Edit Details 
					</li>
					<li class="btn-change-pw">
						<span class="glyphicon glyphicon-edit" aria-hidden="true"></span> 
						Change Password
					</li>	
				{{/if}}	
				{{#if allowDelete }}
					<li class="btn-delete-user">
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> 
						Delete Account
					</li>		
				{{/if}}
		  </ul>
		</div>
	</header>

	<div class="panels row">
		<div class="col-sm-12">
			<div class="panel panel-default container">
		  	<form class="panel-body stats-container">
					<dl class="">
						<dt class="col-xs-4 itemlabel ">Joined:</dt>
						<dd class="col-xs-8 col-sm-8 value">{{createdAt }}</dd>
					</dl>	
					<dl class="control-group">
						<dt class="col-xs-4 itemlabel">Username:</dt>
						<dd><input type="text" name="username" class="col-xs-8  validate" value="{{username}}"></dd>
					</dl>
					<dl class="control-group">
						<dt class="col-xs-4  itemlabel">First Name:</dt>
						<dd><input type="text" name="firstName" class="col-xs-8 validate" value="{{firstName}}"></dd>
					</dl>
					<dl class="control-group	">
						<dt class="col-xs-4  itemlabel">Last Name:</dt>
						<dd><input type="text"  name="lastName" class="col-xs-8 validate" value="{{lastName}}"></dd>
					</dl>
					<div class="editmode">
						<br>
						<button class="save col-sm-3 col-sm-offset-9  btn  btn-primary" type="submit">Save</button>
					</div>
				</form>
			</div>
		</div>
	</div>
				
