<h2>Your Details</h2>

<div class="content-section">

	<div class="table bordered responsive">

		<div class="tr">
			<span class="td">Joined</span>
			<span class="td">{{createdAt}}</span>
		</div>

		<div class="tr">
			<span class="td">First Name</span>
			<span class="td">{{firstName}}</span>
		</div>
		
		<div class="tr">
			<span class="td">Last Name</span>
			<span class="td">{{lastName}}</span>
		</div>
		
		<div class="tr">
			<span class="td">Username</span>
			<span class="td">{{username}}</span>
		</div>
		
		<div class="tr">
			<span class="td">Email</span>
			<span class="td">{{email}}</span>
		</div>
	
	</div>
</div>
